.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(219, 219, 219);
  border-radius: 0.7rem;
  box-shadow: 0 0.3rem 0.3rem rgba(0, 0, 0, 0.25);
}
.paginationContainer {
  text-align: center;
  margin: 15px 0;
}
